name: OpenWrt-24.10-x86_64

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Free Disk Space
      run: |
        sudo rm -rf /usr/share/dotnet /opt/ghc /usr/local/lib/android
        sudo docker system prune -af
        df -h

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential clang flex g++ gawk gcc-multilib gettext \
          git libncurses-dev libssl-dev python3-setuptools rsync unzip \
          zlib1g-dev file wget

    - name: Clone OpenWrt 24.10
      run: |
        git clone https://github.com/openwrt/openwrt.git
        cd openwrt
        git checkout openwrt-24.10

    - name: Update & Install Feeds
      run: |
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Copy Config
      run: |
        cp config-x86_64-24.10 .config
        cd openwrt
        make defconfig

    - name: Download Packages
      run: |
        cd openwrt
        make download -j1

    - name: Compile (Single Thread)
      run: |
        cd openwrt
        make -j1 V=s

    - name: Upload Firmware
      uses: actions/upload-artifact@v4
      with:
        name: OpenWrt-x86_64-24.10
        path: openwrt/bin/targets/x86/64/
